<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменения пользователя</title>
</head>
<body>
<h2>Поменяйте информацию о пользователе</h2>
<br>
<form th:action="@{/admin/update}" th:object="${user}" th:method="post">
    <input type="hidden" th:value="${user.id}" th:attr=" name='id'"/>

    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" name="name" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name errors</div>
    <br>
    <br>
    <label for="age">Возраст</label>
    <input type="number" th:field="*{age}" name="age" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age errors</div>
    <br>
    <br>
    <label for="email">Почта</label>
    <input type="text" th:field="*{email}" name="email" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email errors</div>
    <br>
    <br>
    <label for="username"> Логин</label>
    <input type="text" th:field="*{username}" id="username">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username errors</div>
    <br/>
    <br>
    <label for="password">Пароль:</label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password errors</div>
    <br>
    <br>
    <div>
        <label>Role:
            <select size="2" name="roles" >
                <option value="1">ADMIN</option>
                <option selected="selected" value="2">USER</option>
            </select>
        </label>
    </div>
    <br>
    <br>
    <input type="submit" value="Сохранить"/>
</form>
<div>
    <input type="button" value="Назад" onclick="history.go(-1)">
</div>
</body>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Выйти">
</form>
</html>